.message {
  display: flex;
  flex-direction: column;
}

.messageTop {
  display: flex;
  margin-top: 20px;
}
.messageTop.own{
  flex-direction: row-reverse;
  /* margin: 0; */
}

.messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.messageImg.own{
  margin-left: 10px;
  margin-right: auto;
}

.messageText {
  padding: 10px;
  border-radius: 20px;
  background-color: #1877f2;
  max-width: 300px;
}

.messageBottom {
  font-size: 12px;
  margin-top: 7px;
  color: darkgrey;
}

.message.own {
  align-items: flex-end;
}

.message.own .messageText {
  background-color: rgb(232, 231, 231);
  color: black;
}
